$background-color-theme-default:#16223c;
$background-color-theme-red:#f15b40;
$background-color-theme-green:#6fc059;
$background-color-theme-mauves:#9b6eaf;
$background-color-theme-blue:#4370b4;
$background-color-theme-pink:#f06093;
$background-color-theme-bluegreen:#72c6a5;
$background-color-theme-yellow:#f4ee20;
//$background-color-theme-material-red:url("")

$foreground-color-theme-default:#1d2d47;
$foreground-color-theme-red:#f7aa90;
$foreground-color-theme-green:#aad494;
$foreground-color-theme-mauves:#ac8cbd;
$foreground-color-theme-blue:#8a9acd;
$foreground-color-theme-pink:#ec8ea9;
$foreground-color-theme-bluegreen:#aed9c5;
$foreground-color-theme-yellow:#f8f38d;

$component-color-theme-default:#16223c;
$component-color-theme-red:#f15b40;
$component-color-theme-green:#6fc059;
$component-color-theme-mauves:#9b6eaf;
$component-color-theme-blue:#4370b4;
$component-color-theme-pink:#f06093;
$component-color-theme-bluegreen:#72c6a5;
$component-color-theme-yellow:#f4ee20;